[submodule "external/embedding-atlas"]
	path = external/embedding-atlas
	url = https://github.com/rch/oss-embedding-atlas.git
[submodule "external/hermes-agent"]
	path = external/hermes-agent
	url = https://github.com/zndx/oss-hermes-agent.git
